:root{
    --rang:#303030;
    --orqaRang: #F1F1F1;
    --font: 23px;
    --qalin: bold;
}
body{
    background-color: var(--orqaRang);
    color: var(--rang);
    font-size: var(--font);
    font-weight: var(--qalin);
}
.wrap{
    width: 1200px;
    margin: 200px auto;
}
.row{
    width: 100%;
}
.col{
    width: 30%;
    float: left;
    background-color: white;
    display: block;
    margin: 20px 15px;
    /*border: 1px solid red;*/
}
.img-box{
    width: 100%;
    height: 250px;
    display: block;
}
.img-box img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}
.clear{
    clear: both;
}
.text{
    /*column-count: 3;*/
    column-gap: 50px;
    column-rule: 5px solid red;
    column-width: 350px;
}

@media (min-width: 240px) and (max-width: 570px){
    .wrap{
        width: 100%;
        background-color: blue;
        color: white;
    }
}
@media (min-width: 570px) and (max-width: 780px){
    .wrap{
        width: 100%;
        background-color: green;
        color: white;
    }
}

@media (min-width: 780px) and (max-width: 990px){
    .wrap{
        width: 100%;
        background-color: black;
        color: white;
    }
}
@media (min-width: 990px) and (max-width: 1200px){
    .wrap{
        width: 100%;
        background-color: red;
        color: white;
    }
}
@media (min-width: 1200px) {
    .wrap{
        width: 100%;
        background-color: brown;
        color: white;
    }
}